{
  "tabWidth": 4,
  "useTabs": false,
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "printWidth": 85,
  "overrides": [
    {
      "files": ["*.json", "*.prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
